
@page
@model StudentManagement.Pages.Studentsss.StudentViewModel
@{
    ViewData["Title"] = "Student Information";
}

<h1>Student Information</h1>

<div>
    <h3>Name: @Model.Student.StudentsName</h3>
    <p>Student ID: @Model.Student.StudentsID</p>
    <p>Phone: @Model.Student.StudentsPhone</p>
    <p>Email: @Model.Student.StudentsEmail</p>
    <p>Address: @Model.Student.StudentsAddress</p>
</div>
@section Scripts {
                <partial name="_ValidationScriptsPartial" />
        }
